<!DOCTYPE html>
<html ng-app="myApp">
  <head>
    <meta charset="utf-8">
    <title>GogyUp</title>
    <script src="../vendors/angular.min.js" charset="utf-8"></script>
    <script src="../vendors/angular-route.min.js" charset="utf-8"></script>
    <script src="../scripts/controllers/tileGeneratorController.js" charset="utf-8"></script>
  </head>
  <body>
    <div ng-controller="tileGeneratorController">
<div ng-init="displayWord()"></div>
{{word}}
<span ng-repeat="letter in allLetter track by $index">{{letter}}</span>

</div>
  </body>
  </body>
</html>
