<div ng-init="displayWord()"></div>
<div class="playing-field">
  <!-- <canvas id="canvas"> -->
    <div ng-repeat="letter in placedWord track by $index" style="display: inline; margin: 2px; border: 1px solid black" ng-class="{'changeBackground': change[$index]}">
      <a ng-click="removeLetter($index)">{{letter}}</a>
    </div>
  <!-- </canvas> -->
</div>
<div ng-repeat="letter in allLetter track by $index" ng-click="placeLetter(letter)" class="data-tiles">
  {{letter}}
</div>
<div ng-show="correctAnswer">Great job!</div>
<div ng-show="incorrectAnswer">Try again!</div>
<a ng-if="incorrectAnswer" href="#secondTry">Next Try</a>
<button ng-hide="incorrectAnswer || correctAnswer" ng-click="checkSpelling(placedWord); correctPlacement(placedWord)" class="testButton"><i class="fa fa-check" id="button-check" aria-hidden="true"></i>&nbsp;Check Spelling</button>
<button ng-click="sayWord()">HI</button>
