<div ng-init="displayWord()"></div>
<div class="playing-field">
  <!-- <canvas id="canvas"> -->
    <div ng-repeat="letter in placedWord track by $index" ng-class="{'changeBackground': change[$index]}" class="data-tiles" style="margin: 5px; margin-top: 40px;">
      <p ng-click="removeLetter($index)" style="display: inline;">{{letter}}</p>
    </div>
  <!-- </canvas> -->
</div>
<br>
<div ng-repeat="letter in allLetter track by $index" ng-click="placeLetter(letter)" class="data-tiles">
  {{letter}}
</div>
<div ng-show="correctAnswer">Great job!</div>
<div ng-show="incorrectAnswer">Try again!</div>
<a ng-if="incorrectAnswer" href="#thirdTry">Next Try</a>
<button ng-hide="incorrectAnswer || correctAnswer" ng-click="checkSpelling(placedWord); correctPlacement(placedWord)" class="testButton"><i class="fa fa-check" id="button-check" aria-hidden="true"></i>&nbsp;Check Spelling</button>
