<div ng-init="displayWord()"></div>
<div class="playing-field" droppable drop='handleDrop'>
  <!-- <canvas id="canvas"> -->
    <div ng-repeat="letter in placedWord track by $index" ng-class="{'changeBackground': change[$index]}" class="data-tiles" style="margin: 5px; margin-top: 40px;" ng-click="removeLetter($index, letter.placedIndex)">
      {{letter.letter}}
    </div>
  <!-- </canvas> -->
</div>
<br>
<div ng-repeat="letter in allLetter track by $index" draggable id="letterTile{{$index}}" ng-click="placeLetter(letter, $index)" class="data-tiles" ng-hide="placed[$index]">
  {{letter}}
</div>
<div ng-show="correctAnswer">Great job!</div>
<div ng-if="incorrectAnswer">Correct spelling: {{correctWord}}</div>
<button ng-hide="incorrectAnswer || correctAnswer" ng-click="checkSpelling(placedWord); correctPlacement(placedWord)" class="checkButton"><i class="fa fa-check" id="button-check" aria-hidden="true"></i>&nbsp;Check Spelling</button>
