<!DOCTYPE html>
<html ng-app="myApp">
  <head>
    <meta charset="utf-8">
    <title>GogyUp</title>
    <script src="../vendors/angular.min.js"></script>
    <script src="../vendors/angular-route.min.js"></script>
    <script src="../scripts/controllers/spellcheckController.js" charset="utf-8"></script>
    <script src="../scripts/controllers/firstHintController.js" charset="utf-8"></script>
    <script src="../scripts/controllers/secondHintController.js" charset="utf-8"></script>
  </head>
  <body ng-controller="secondHintController">
    <div class="firstHint" ng-repeat="letter in domArray track by $index" style="display: inline">
      <p>{{letter}}</p>
    </div>
    <button ng-click="placeGrapheme()"></button>
  </body>
</html>
